
.accordion-item .wpb_content_element {
	margin-bottom: 0;
}

.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner,
.vc_row-has-fill>.vc_column_container>.vc_column-inner {
	padding-top: 0;
}

.vc_separator.wpb_content_element {
	margin-bottom: 15px;
}

.single-team-members .tab .wpb_content_element { margin-bottom: 0; }

@media only screen and ( max-width: 992px ) {

	.vc_col-sm-1,
	.vc_col-sm-2,
	.vc_col-sm-3,
	.vc_col-sm-4,
	.vc_col-sm-5,
	.vc_col-sm-6,
	.vc_col-sm-7,
	.vc_col-sm-8,
	.vc_col-sm-9,
	.vc_col-sm-10 {
		float: none;
		width: 100%;
	}

}

@media only screen and ( max-width: 767px ) {


}


